parameters:
	ignoreErrors:
		-
			message: "#^Method PreemStudio\\\\Friendable\\\\Models\\\\Friendship\\:\\:recipient\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo does not specify its types\\: TRelatedModel, TChildModel$#"
			count: 1
			path: src/Models/Friendship.php

		-
			message: "#^Method PreemStudio\\\\Friendable\\\\Models\\\\Friendship\\:\\:sender\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo does not specify its types\\: TRelatedModel, TChildModel$#"
			count: 1
			path: src/Models/Friendship.php
